a {
    font-size: 20px;
    color: black;
}

.container {
    text-align: center;
    padding-top: 60px;
}

.container2 {
    text-align: center;
    padding-top: 60px;
}

button {
    background-color: blue;
    color: white;
    padding: 5px;
    width: 17%;
    font-size: 15px;
}

.pos {
    list-style-type: none;
    margin-right: 400px;
}

.pos li {
    padding: 5px;
}

.hide {
    display: none;
}


