body {
    font-family: 'Comic Neue', cursive;
    background-color: #CCFFFF;
}

a {
    font-size: 20px;
    color: black;
}

.container, .container2, .container3 {
    text-align: center;
    padding-top: 60px;
}

button {
    background-color: blue;
    color: white;
    padding: 5px;
    width: 14%;
    font-size: 15px;
}

.pos {
    list-style-type: none;
    margin-right: 400px;
}

.pos li {
    padding: 5px;
}

.hide {
    display: none;
}

#correctOrNot {
    color: lawngreen;
    font-size: 25px;
}

#results {
    width: 10%;
}

