body {
    font-family: 'Comic Neue', cursive;
    background-color: rgba(0, 0, 0, 0.877);
    color: white;
}

.container, .container2, .container3 {
    text-align: center;
    padding-top: 60px;
}

button {
    background-color: blue;
    color: white;
    padding: 5px;
    width: 14%;
    font-size: 15px;
}

.pos, #highScores {
    list-style-type: none;
    margin-right: 400px;
}

.pos li {
    padding: 5px;
}

.hide {
    display: none;
}

#correctOrNot {
    color: lawngreen;
    font-size: 25px;
}

#results {
    width: 10%;
}

.container3 button {
    width: 6%;
}

#ViewHS {
    background-color: transparent !important;
    border: none;
    font-size: 20px;
    color: white;
}
